<!DOCTYPE html>

<html >
<head>
<title>Meet the Team</title>
<link rel="stylesheet" type="text/css" href="style/style.css">

</head>
<body id="web">

        <div id="Lf_nav">
            <ul id="nav_list" class="nav_list">
                <li class="top"><a href="#"></li>
                <!-- Need to resize icons-->

                <li class="icon">
                        <%= link_to image_tag("home-plate.png"), :controller => 'home', :action => 'index' %>
                        <p>Home</p>
                </li>

                <li class="icon">
                <%= link_to image_tag("derby-city-crush-team.png"), :controller => 'home', :action => 'roster' %>
                <p>Team</p>
                </li>

                <li>

                <%= link_to image_tag("crush-calendar.png"), :controller => 'home', :action => 'index' %>
                <p>Calendar</p>
                </li>

                <li class="icon">
                <%= link_to image_tag("derby-city-crush-site-map.png"), :controller => 'home', :action => 'index' %>
                <p>Site</p>

                </li>
                <!--<li>Contact Us</li>-->

                <li class="icon">
                <%= link_to image_tag("derby-city-crush-back.png"), :controller => 'home', :action => 'index' %>
                <p>Back</p>
                </li>
            </ul>
        </div>

        <div id="content-top">
                <div id="grid-header">
                <p>Home</p>
                </div>
                <div id="grid-home">
                        <p><strong>Main area/more to come here &hellip;</strong></p>
                
                 
                        
                </div>
        </div>
        <div id="content-bottom">
       
                <div id="grid-team">
                        <p><strong> last content &hellip;</strong></p>
                
                        
                </div>
                <div id="grid-footer">
                <p>footer</p>
                </div>
                
                
        </div>

        </body>






</html>