<%#= image_tag("Derby-City-Crush-banner.png") %>
<li class="dropdown">  <%= link_to "Roster", :controller => "home", :action => "roster" %></li>
<li class="dropdown">  <%= link_to "Coaches", :controller => "home", :action => "roster" %></li>
<li class="dropdown">  <%= link_to "Schedule", :controller => "home", :action => "roster" %></li>
<li class="dropdown">  <%= link_to "Site Map", :controller => "home", :action => "roster" %></li>
<li class="dropdown">  <%= link_to "Contact Us", :controller => "home", :action => "roster" %></li>
<li class="dropdown">  <%= link_to "About", :controller => "home", :action => "roster" %></li>

